body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.fontpopins{
  font-family: "Poppins", sans-serif;
}
.textblack{
  color: #0D0D0D;
}
.textwhite{
  color: white;
}
.textred{
  color: #F26D6D;
}
.textpink{
  color: #D99D8F;
}
.textgreen{
  color: #79F297;
}
.textgray{
  color: #6C6E8C;
}
.bgblack{
  background-color: #0D0D0D;
}
.bgred{
  background-color: #F26D6D;
}
.bgpink{
  background-color: #D99D8F;
}
.bggreen{
  background-color: #79F297;
}
.bggray{
  background-color: #6C6E8C;
}
body{
  background-color: black;
}